In [1]:
# Constants

KEYWORD="data scientist"
COUNTRY = "United States"
NUM_OF_JOBS= 1000

DF_PATH_PKL = f"../data/raw/0_{NUM_OF_JOBS}_jobs_{KEYWORD}_{COUNTRY}_collected_raw_data_df.pkl"
DF_PATH_CSV = f"../data/raw/0_{NUM_OF_JOBS}_jobs_{KEYWORD}_{COUNTRY}_collected_raw_data_df.csv"

EXPORT_PATH_PKL = f"../data/raw/1_{NUM_OF_JOBS}_jobs_{KEYWORD}_{COUNTRY}_cleaned_data_df.pkl"
EXPORT_PATH_CSV = f"../data/raw/1_{NUM_OF_JOBS}_jobs_{KEYWORD}_{COUNTRY}_cleaned_data_df.csv"

FIG_DIR = "../reports/figures"

REPLACED_DICT = {
    'Founded' :             {'Nonprofit Organization' : -1, 'Company - Private' : -1,
                                'Government' : -1, 'Company - Public': -1},
    'Type of ownership' :   {'$1 to $5 billion (USD)': -1, 'Unknown / Non-Applicable': -1, '$5 to $25 million (USD)' : -1},
    'Sector' :              {'Unknown / Non-Applicable' : -1},
    'Revenue' :             {'Unknown / Non-Applicable' : -1},
    'Headquarters':         {'' : -1},
    'Size'  :               {'Unknown' : -1}   
}

# skills to investigate about
DS_SKILLS_LIST =  [ 'python','javascript','r_studio','r studio','sas','sql','postgresql','mysql',
                   'excel','tableau','power bi','power_bi','tensorflow','aws','azure',
                   'git','keras','flask','spark',
                   'docker','pytorch']

In [2]:
# Load packages
import pandas as pd
import numpy as np
from IPython.display import display

In [3]:
# Read data and print shape
raw_df = pd.read_pickle(DF_PATH_PKL)
df = raw_df.copy()
display(raw_df.shape)
# display(raw_df.head(2))
display(raw_df.columns)
display(raw_df.info())

(1000, 14)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1000 non-null   object
 1   Salary Estimate    1000 non-null   object
 2   Job Description    1000 non-null   object
 3   Rating             1000 non-null   object
 4   Company Name       1000 non-null   object
 5   Location           1000 non-null   object
 6   Headquarters       1000 non-null   object
 7   Size               1000 non-null   object
 8   Founded            1000 non-null   object
 9   Type of ownership  1000 non-null   object
 10  Industry           1000 non-null   object
 11  Sector             1000 non-null   object
 12  Revenue            1000 non-null   object
 13  Competitors        1000 non-null   int64
dtypes: int64(1), object(13)
memory usage: 109.5+ KB

None

In [4]:
raw_df.sample(1).iloc[0]

Job Title            HEALTHCARE DATA SCIENTIST, FCH - ENTERPRISE AN...
Salary Estimate                                                     -1
Job Description      Come join our award winning team! See What Is ...
Rating                                                             3.7
Company Name                                            Froedtert\n3.7
Location                                             Mountain View, CA
Headquarters                                     Catherine A. Jacobson
Size                                            1001 to 5000 Employees
Founded                                                           1965
Type of ownership                               Nonprofit Organization
Industry                              Health Care Services & Hospitals
Sector                                                      Healthcare
Revenue                                         $1 to $5 billion (USD)
Competitors                                                         -1
Name: 409, dtype: object

In [5]:
# Invesigate the questionable objects columns
questionable_cols = ['Salary Estimate', 'Rating','Company Name', 'Location',
                     'Headquarters', 'Size', 'Founded','Type of ownership',
                     'Industry', 'Sector', 'Revenue', 'Competitors']

for col in questionable_cols:
    print(col)
    print(raw_df[col].unique().tolist()[:1000])
    print('--------------------------------------------')
    print()

Salary Estimate
['$87K - $121K (Glassdoor est.)', '$70K - $108K (Glassdoor est.)', -1, 'Employer Provided Salary:$67K - $120K', '$114K - $164K (Glassdoor est.)', 'Employer Provided Salary:$65K - $80K', '$99K - $145K (Glassdoor est.)', 'Employer Provided Salary:$50.00 - $55.00 Per Hour', '$84K - $129K (Glassdoor est.)', 'Employer Provided Salary:$105K - $135K', '$81K - $113K (Glassdoor est.)', '$97K - $138K (Glassdoor est.)', '$112K - $189K (Glassdoor est.)', '$76K - $110K (Glassdoor est.)', 'Employer Provided Salary:$100K - $225K', 'Employer Provided Salary:$98K - $116K', '$105K - $170K (Glassdoor est.)', 'Employer Provided Salary:$114K - $131K', '$114K - $172K (Glassdoor est.)', 'Employer Provided Salary:$150K - $160K', 'Employer Provided Salary:$78K - $150K', '$84K - $123K (Glassdoor est.)', '$91K - $122K (Glassdoor est.)', '$79K - $125K (Glassdoor est.)', 'Employer Provided Salary:$115K - $144K', '$88K - $142K (Glassdoor est.)', '$80K - $122K (Glassdoor est.)', 'Employer Provided Salary:$96K - $220K', '$74K - $119K (Glassdoor est.)', 'Employer Provided Salary:$60K - $129K', '$137K - $191K (Glassdoor est.)', '$90K - $131K (Glassdoor est.)', 'Employer Provided Salary:$80K - $110K', '$81K - $123K (Glassdoor est.)', '$72K - $109K (Glassdoor est.)', 'Employer Provided Salary:$69K - $169K', 'Employer Provided Salary:$20.11 Per Hour', '$83K - $116K (Glassdoor est.)', 'Employer Provided Salary:$125K - $195K', '$92K - $128K (Glassdoor est.)', 'Employer Provided Salary:$76K - $95K', 'Employer Provided Salary:$70.00 - $80.00 Per Hour', '$86K - $133K (Glassdoor est.)', 'Employer Provided Salary:$90K - $99K', 'Employer Provided Salary:$114K - $211K', 'Employer Provided Salary:$75K - $176K', 'Employer Provided Salary:$130K - $218K', '$90K - $132K (Glassdoor est.)', '$80K - $114K (Glassdoor est.)', '$92K - $143K (Glassdoor est.)', '$76K - $117K (Glassdoor est.)', 'Employer Provided Salary:$55K - $60K', 'Employer Provided Salary:$143K - $200K', '$85K - $121K (Glassdoor est.)', 'Employer Provided Salary:$100K - $350K', 'Employer Provided Salary:$91K - $113K', 'Employer Provided Salary:$100K - $120K', 'Employer Provided Salary:$115K - $140K', '$84K - $122K (Glassdoor est.)', '$105K - $164K (Glassdoor est.)', '$98K - $142K (Glassdoor est.)', '$99K - $144K (Glassdoor est.)', '$90K - $141K (Glassdoor est.)', '$82K - $131K (Glassdoor est.)', '$72K - $111K (Glassdoor est.)', '$86K - $122K (Glassdoor est.)', '$106K - $163K (Glassdoor est.)', '$137K - $195K (Glassdoor est.)', 'Employer Provided Salary:$136K - $177K', '$72K - $112K (Glassdoor est.)', '$94K - $133K (Glassdoor est.)', 'Employer Provided Salary:$145K - $169K', '$113K - $162K (Glassdoor est.)', '$94K - $130K (Glassdoor est.)', '$105K - $145K (Glassdoor est.)', '$83K - $120K (Glassdoor est.)', '$113K - $156K (Glassdoor est.)', '$73K - $113K (Glassdoor est.)', '$76K - $113K (Glassdoor est.)']
--------------------------------------------

Rating
['4.1', -1, '4.0', '4.2', '3.9', '4.4', '4.3', '4.7', '4.9', '3.8', '4.5', '2.6', '3.1', '3.5', '3.6', '3.7', '2.2', '3.4', '3.3']
--------------------------------------------

Company Name
['John Deere\n4.1', 'World Bank Group\n4.2', 'ClaimLogiq\n4.0', 'Apple\n4.2', 'UT Southwestern Medical Center\n3.9', 'Microsoft\n4.4', 'CODING DOJO INC\n3.9', 'Walker & Dunlop\n4.3', 'PayPal\n4.0', 'CaritateTech', 'Net2Aspire', 'Unilever\n4.1', 'Atlassian\n4.7', 'Notion\n4.9', 'Cloud Primero', 'Narvee Technologies pvt ltd', 'Saint-Gobain\n4.0', 'JPMorgan Chase Bank, N.A.\n3.8', 'Interclypse Inc\n4.5', 'Caterpillar\n4.0', 'Analog Devices\n4.1', 'Northrop Grumman Federal Credit Union\n2.6', 'The Trade Desk\n4.3', 'Genentech\n4.3', 'Noblis\n4.4', 'Synaptec Health', 'Frontier Communications\n3.1', 'Peek Vision Ltd', 'Activision\n3.5', 'Disney Media & Entertainment Distribution\n3.9', 'Waymo\n3.9', 'Paramount Networks International\n3.9', 'proit-inc', 'Verizon\n3.9', 'Truist Financial\n3.5', 'Lightcast\n4.4', 'Oscar Health\n3.6', 'Smartcar\n4.7', 'Crum & Forster\n4.2', 'Yelp\n3.6', 'Mastercard\n4.3', 'CVS Health\n3.1', 'Jun Group\n4.1', 'Continental Finance Company\n4.4', 'John Snow Labs\n4.1', 'FirstEnergy Corp\n3.6', 'State Farm\n3.7', 'Sunixa Solutions', 'Safety National\n3.8', 'BOEING\n3.8', 'Wolverine Trading\n4.3', 'NYC Careers\n3.7', 'Sabre Systems Inc.\n4.7', 'Ranial Systems Inc.', 'Roche\n4.3', 'Dworo.io', 'National Security Agency\n3.5', 'Fidelity Investments\n4.3', 'Elevance Health\n3.7', 'Spotify\n4.3', 'IFC Systems Corporation\n4.0', 'Augray\n4.1', 'US National Security Agency/Central Security Service\n2.6', 'LexisNexis\n3.9', 'dYdX\n4.4', 'VNS Health\n3.5', 'SupplyHouse\n3.9', 'Dataworks', 'Peapod Digital Labs\n4.1', 'Acelot\n3.1', 'Spring Health\n3.8', 'Citi\n3.9', 'N1 solutions', 'Source Enterprises\n2.2', "L'Oreal\n3.9", 'Vanguard\n3.7', 'Lucid Motors\n3.4', 'Peloton\n3.6', 'QVC\n3.5', 'BEN Group, Inc\n3.6', 'Fetch Rewards\n3.8', 'Delta\n4.3', 'Froedtert\n3.7', 'Rockstar Games\n4.4', 'Novo Nordisk\n4.2', 'American Express Global Business Travel\n3.8', 'Abbott Laboratories\n3.8', 'CaaStle\n3.5', 'Booz Allen Hamilton\n4.2', 'University of Maryland Medical System\n3.3']
--------------------------------------------

Location
['Washington, DC', 'Cupertino, CA', "O'Fallon, MO", 'New York, NY', 'Fort Meade, MD', 'Mountain View, CA', 'Remote', 'Annapolis Junction, MD']
--------------------------------------------

Headquarters
['John May', -1, '', 'Tim Cook', 'Daniel K. Podolsky, M.D.', 'Satya Nadella', 'Richard Wang', 'William M. Walker', 'Dan Schulman', 'Alan Jope', 'Scott Farquhar & Mike Cannon-Brookes', 'Ivan Zhao', 'Benoit Bazin', 'Jamie Dimon', 'Scott Delcore', 'Jim Umpleby', 'Vincent Roche', 'Jeff Green', 'Alexander Hardy', 'Mile Corrigan', 'Nick Jeffery', 'Rob Kostich', 'Bob Chapek', 'Tekedra Mawakana and Dmitri Dolgov', 'Robert Bakish', 'Hans Vestberg', 'William H. Rogers, Jr.', 'Andreas Kisslinger', 'Mario T. Schlosser', 'Sahas Katta', 'Marc J. Adee', 'Jeremy Stoppelman', 'Michael Miebach', 'Karen S. Lynch', 'Corey Weiner', 'Steve McSorley', 'Steven E. Strah', 'Michael L. Tipsord', 'Mark A. Wilhelm', 'David Calhoun', 'Robert Ross Bellick', 'Bill de Blasio', 'Phil Jaurigue', 'Severin Schwan', 'General Paul M. Nakasone', 'Abby Johnson', 'Gail K. Boudreaux', 'Daniel Ek', 'Makhtar Diop', 'Suresh Thankavel', 'Mike Walsh', 'Antonio Juliano', 'Dan Savitt', 'Josh Meyerowitz', 'JJ Fleeman', 'April Koh', 'Jane Fraser', 'L. Londell McMillan', 'Nicolas Hieronimus', 'Tim Buckley', 'Peter Rawlinson', 'Barry McCarthy', 'David Rawlinson II', 'Ricky Ray Butler', 'Wes Schroll', 'Ed Bastian', 'Catherine A. Jacobson', 'Sam Houser', 'Lars Fruergaard Jørgensen', 'Paul Abbott', 'Robert Ford', 'Christine Hunsicker', 'Horacio D. Rozanski', 'Mohan Suntha, MD, MBA']
--------------------------------------------

Size
['10000+ Employees', '201 to 500 Employees', '51 to 200 Employees', '1001 to 5000 Employees', -1, 'Unknown', '5001 to 10000 Employees', '1 to 50 Employees', '501 to 1000 Employees']
--------------------------------------------

Founded
['1837', 'Nonprofit Organization', 'Company - Public', '1976', '1943', '1975', '2013', '1937', '1998', -1, '1872', '2002', '2016', '1665', '1799', '2007', '1925', '1965', '1946', '2009', '1996', '1935', '1979', '1923', '2019', '2000', '2011', '2012', '2015', '1822', '2004', '1966', '1963', '2005', '1997', '1922', '1942', '1916', '1994', '1625', '1989', '1896', 'Government', '2006', '1956', '2014', 'Company - Private', '1818', '2017', '1893', '2021', '2018', '1812', '1909', '1928', '1915', '1888', '1914', '1984']
--------------------------------------------

Type of ownership
['Company - Public', '$1 to $5 billion (USD)', 'Unknown / Non-Applicable', 'Hospital', 'Company - Private', -1, 'Nonprofit Organization', 'Subsidiary or Business Segment', 'Government', 'National Agencies', '$5 to $25 million (USD)', 'Publishing', 'Self-employed']
--------------------------------------------

Industry
['Machinery Manufacturing', -1, 'Computer Hardware Development', 'Health Care Services & Hospitals', 'Education & Training Services', 'Investment & Asset Management', 'Internet & Web Services', 'Consumer Product Manufacturing', 'Software Development', 'Enterprise Software & Network Solutions', 'Banking & Lending', 'Electronics Manufacturing', 'Biotech & Pharmaceuticals', 'Business Consulting', 'Cable, Internet & Telephone Providers', 'Video Game Publishing', 'Film Production', 'Telecommunications Services', 'State & Regional Agencies', 'Insurance Agencies & Brokerages', 'Insurance Carriers', 'Financial Transaction Processing', 'Energy & Utilities', 'Aerospace & Defense', 'Municipal Agencies', 'Government & Public Administration', 'Information Technology Support Services', 'Other Retail Stores', 'Media & Communication', 'Transportation Equipment Manufacturing', 'Advertising & Public Relations', 'Airlines, Airports & Air Transportation', 'Travel Agencies']
--------------------------------------------

Sector
['Manufacturing', -1, 'Information Technology', 'Healthcare', 'Education', 'Financial Services', 'Pharmaceutical & Biotechnology', 'Management & Consulting', 'Telecommunications', 'Media & Communication', 'Government & Public Administration', 'Insurance', 'Energy, Mining & Utilities', 'Aerospace & Defense', 'Unknown / Non-Applicable', 'Retail & Wholesale', 'Transportation & Logistics', 'Hotels & Travel Accommodation']
--------------------------------------------

Revenue
['$10+ billion (USD)', -1, '$1 to $5 billion (USD)', '$5 to $25 million (USD)', 'Unknown / Non-Applicable', '$25 to $100 million (USD)', '$100 to $500 million (USD)', '$500 million to $1 billion (USD)', '$5 to $10 billion (USD)', '$1 to $5 million (USD)']
--------------------------------------------

Competitors
[-1]
--------------------------------------------

In [6]:
################################ From Investigation ################################
# --> 'Salary Estimate'  : int
# some in ['Per Hour', 'Glassdoor est.)', 'Employer Provided Salary', '-1']
# remove all '-1' items
# in a string format, needed to remove all strings and change format into int
################################
# --> 'Rating'  : int
# in string format
# '-1' represent not collected data
# remove that have '-1' and change format to int
################################
# --> 'Company Name'  : string
# contain '\n' and the rating
# remove '\n' and the rating
################################
# --> 'Location'   : string
# contain Duplicate shortcuts ['Fort Meade, MD', 'Annapolis Junction, MD']
################################
# --> 'Headquarters'  : string
# replace '' with '-1'
# remove '-1' items
################################
# --> 'Size'  : 
# replace 'Unknown' with '-1'
# it consist of 7-classes
################################
# --> 'Founded' : int
# replace non-numeric values with '-1'
# change format to int
# remove all '-1' items
################################
# --> 'Type of ownership'   : string
# replace ['$1 to $5 billion (USD)', 'Unknown / Non-Applicable'] with '-1'
# remove all '-1' items
################################
# --> 'Industry'  : string
# remove all -1 items
################################
# --> 'Sector'  :  string 
# replace 'Unknown / Non-Applicable' with '-1'
# remove all '-1' items
################################
# --> 'Revenue'  : 
# replace 'Unknown / Non-Applicable' with '-1'
# it consist of 8-classes 
################################
# --> 'Competitors'  
# no collected data at all
# column can be removed

In [7]:
# Tasks on data to do
##### slary parsing
##### Company name text only
##### state field
##### age of compny
##### parsing of job description (python, etc)

#####################################################
#[1] slary parsing
# df[df['Salary Estimate'] == -1]                                       # filter to view
df = df[df['Salary Estimate'] != -1]                                    # remove all '-1' items
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])         # remove '(Glassdoor est.)' [which is glassdors estimation] in a new variable 'salary'
minus_kd = salary.apply(lambda x: x.replace('K','').replace('$',''))    # remove 'K' and '$' from last variable 'salary', in a new varaible 
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour','')\
                        .replace('employer provided salary:',''))       # replace 'per hour' & 'employer provided salary:' with '',
                                                                        # by that, the remaining values is ranged [min - max] some annuall and others on hourly

# on 'min_salary' : because there can not be min salary = 0, so if there is only one value on data , it will be the max and min slary
df['min_salary'] = min_hr.apply(lambda x: x.split('-')[0] if len(x.split('-'))==1 else x.split('-')[0] ).astype(np.float32).astype(np.int64)
df['max_salary'] = min_hr.apply(lambda x: x.split('-')[0] if len(x.split('-'))==1 else x.split('-')[1] ).astype(np.float32).astype(np.int64)
df['avg_salary'] = (df['min_salary'] + df['max_salary'])/2

# df.loc[df['Salary Estimate'].str.contains('Per Hour')]                                    # filter to view
df["hourly"] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)   # new column represent 'per hour' state 
df["employer_provided"] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)  # new column represent 'employer provided salary:' state 
 
# the state Explanation:
# hourly      -    employer_provided
#   1                     0               : The salary offered by the company per hour
#   0                     1               : The salary offered by the company per year
#   0                     0               : The salary is glosdoor estimation

In [8]:
# Test for duplicates
duplicate = df[df.duplicated()]
duplicate.shape

(546, 19)

In [9]:
# change 'Rating' format to int 
df['Rating'] = df['Rating'].astype(np.float32).astype(np.int64)
# df = df[df['Rating'] != -1]                                         # when removing all '-1' items the shape changed from (835,20) to (715,20), so Iam not suring about that step
# display(df['Rating'].dtype)

# [2] Company name text only
df['Company Name'] = df['Company Name'].str.replace('[0-9]','')\
                        .str.replace('.','').str.replace('\n','')     # removing raing numbres and '\n'

/Users/ahmadsamir/opt/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
/Users/ahmadsamir/opt/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [10]:
# [3] state field
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[0]if len(x.split(',')) == 1 else x.split(',')[0])   # remove shortcuts    
df['job_state'].value_counts()
# df['some_state'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis=1)

Remote                404
Mountain View         246
O'Fallon               58
New York               30
Fort Meade             28
Cupertino              27
Annapolis Junction     25
Washington             17
Name: job_state, dtype: int64

In [11]:
# [4] replace columns values from investigation
# []
for col, replacement in REPLACED_DICT.items() :
    if col == 'Founded':
        df[col] = df[col].replace(replacement).astype(np.int64)
    else:
        df[col] = df[col].replace(replacement)
 
# [5] age of company   
# new feature 
df['Comp_Age'] = df['Founded'].apply(lambda x: x if x < 1 else 2022 - x)

In [12]:
# [6] size
df.rename(columns = {'Size':'Comp_Size'}, inplace = True)

In [13]:
# df['Location'].value_counts(normalize=True)[1]
df['Location'].value_counts(normalize=True).index

Index(['Remote', 'Mountain View, CA', 'O'Fallon, MO', 'New York, NY',
       'Fort Meade, MD', 'Cupertino, CA', 'Annapolis Junction, MD',
       'Washington, DC'],
      dtype='object')

In [14]:
# [7] parsing of job description
# investigate on skills
for skill in DS_SKILLS_LIST[:]:
    print(skill)
    temp = df['Job Description'].apply(lambda x: 1 if skill in x.lower() else 0)
    print(temp.value_counts(normalize=True,sort=True))

# Selecting skill that Presence of more than 20%
collected_skills = ['python','sql','excel','tableau','aws','git','spark']

# New feature from collected skills [yn stands for yes no]
for skill in collected_skills :
    df[f'{skill}_yn'] = df['Job Description'].apply(lambda x: 1 if skill in x.lower() else 0)

python
1    0.79521
0    0.20479
Name: Job Description, dtype: float64
javascript
0    0.997605
1    0.002395
Name: Job Description, dtype: float64
r_studio
0    1.0
Name: Job Description, dtype: float64
r studio
0    0.898204
1    0.101796
Name: Job Description, dtype: float64
sas
0    0.898204
1    0.101796
Name: Job Description, dtype: float64
sql
1    0.565269
0    0.434731
Name: Job Description, dtype: float64
postgresql
0    0.998802
1    0.001198
Name: Job Description, dtype: float64
mysql
0    0.998802
1    0.001198
Name: Job Description, dtype: float64
excel
0    0.670659
1    0.329341
Name: Job Description, dtype: float64
tableau
0    0.723353
1    0.276647
Name: Job Description, dtype: float64
power bi
0    0.948503
1    0.051497
Name: Job Description, dtype: float64
power_bi
0    1.0
Name: Job Description, dtype: float64
tensorflow
0    0.882635
1    0.117365
Name: Job Description, dtype: float64
aws
0    0.791617
1    0.208383
Name: Job Description, dtype: float64
azure
0    0.959281
1    0.040719
Name: Job Description, dtype: float64
git
0    0.646707
1    0.353293
Name: Job Description, dtype: float64
keras
0    0.959281
1    0.040719
Name: Job Description, dtype: float64
flask
0    1.0
Name: Job Description, dtype: float64
spark
0    0.796407
1    0.203593
Name: Job Description, dtype: float64
docker
0    0.923353
1    0.076647
Name: Job Description, dtype: float64
pytorch
0    0.920958
1    0.079042
Name: Job Description, dtype: float64

### Visually verify results

In [15]:
copy_raw_df = raw_df.copy()
copy_raw_df = copy_raw_df[copy_raw_df['Salary Estimate'] != -1]         # to unify the index
i = df.sample(1).index[0]
print(copy_raw_df.iloc[i])
print('#'*100)
print(df.iloc[i])

Job Title                                        Junior Data Scientist
Salary Estimate                          $70K - $108K (Glassdoor est.)
Job Description      Job #:\nreq19774\n\nOrganization:\nWorld Bank\...
Rating                                                              -1
Company Name                                     World Bank Group\n4.2
Location                                             Mountain View, CA
Headquarters                                                        -1
Size                                                  10000+ Employees
Founded                                         Nonprofit Organization
Type of ownership                               $1 to $5 billion (USD)
Industry                                                            -1
Sector                                                              -1
Revenue                                                             -1
Competitors                                                         -1
Name: 245, dtype: object
####################################################################################################
Job Title                                        Junior Data Scientist
Salary Estimate                          $70K - $108K (Glassdoor est.)
Job Description      Job #:\nreq19774\n\nOrganization:\nWorld Bank\...
Rating                                                              -1
Company Name                                          World Bank Group
Location                                             Mountain View, CA
Headquarters                                                        -1
Comp_Size                                             10000+ Employees
Founded                                                             -1
Type of ownership                                                   -1
Industry                                                            -1
Sector                                                              -1
Revenue                                                             -1
Competitors                                                         -1
min_salary                                                          70
max_salary                                                         108
avg_salary                                                        89.0
hourly                                                               0
employer_provided                                                    0
job_state                                                Mountain View
Comp_Age                                                            -1
python_yn                                                            1
sql_yn                                                               0
excel_yn                                                             1
tableau_yn                                                           0
aws_yn                                                               1
git_yn                                                               1
spark_yn                                                             0
Name: 245, dtype: object

In [16]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Comp_Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'hourly', 'employer_provided',
       'job_state', 'Comp_Age', 'python_yn', 'sql_yn', 'excel_yn',
       'tableau_yn', 'aws_yn', 'git_yn', 'spark_yn'],
      dtype='object')

In [17]:
df.to_pickle(EXPORT_PATH_PKL)
df.to_csv(EXPORT_PATH_CSV,index=False)